// commandbar

@import "./functions";
@import "./button";

$commandbar-height: 50px;

.commandbar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $commandbar-height;
  background: white;
  border-bottom: black solid 1.5px;

  padding-left: 8px;
  padding-right: 8px;
}

.command {
  @extend .button;
}

.sidebar {
  position: sticky;
  top: $commandbar-height;
}
