@use "sass:map";
@use "./border";

@mixin styles($theme) {
  body {
    padding: 0px;
    margin: 0px;
    font-family: map.get($theme, "font", "family");
    background: map.get($theme, "colors", "background", "default");
    color: map.get($theme, "colors", "background", "text");
  }

  a {
    color: map.get($theme, "colors", "link", "default");
  }

  table {
    width: 100%;
    border-collapse: collapse;

    @include border.border-bottom(
      $border-color: map.get($theme, "colors", "border", "default"),
      $border-width: map.get($theme, "shapes", "border", "width")
    );
  }

  thead {
    color: map.get($theme, "colors", "primary", "text");
    background: map.get($theme, "colors", "primary", "default");
    text-align: left;
  }

  td {
    padding: space(10);
  }
}
