@use "sass:color";
@use "sass:map";

$default-family: "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

@function create-color($default, $hover, $text) {
  @return ("default": $default, "hover": $hover, "text": $text);
}

@function set-colors-primary(
  $theme,
  $default: black,
  $hover: color.adjust($default, $lightness: 20%),
  $text: white
) {
  @return map.deep-merge(
    $theme,
    (
      "colors": (
        "primary": create-color($default, $hover, $text)
      )
    )
  );
}

@function set-colors-background(
  $theme,
  $default: #fafafa,
  $hover: color.adjust($default, $lightness: -10%),
  $text: black
) {
  @return map.deep-merge(
    $theme,
    (
      "colors": (
        "background": create-color($default, $hover, $text)
      )
    )
  );
}

@function set-colors-surface($theme, $default: white) {
  @return map.deep-merge(
    $theme,
    (
      "colors": (
        "surface": create-color($default, $default, $default)
      )
    )
  );
}

@function set-colors-border($theme, $default: #e0e0e0) {
  @return map.deep-merge(
    $theme,
    (
      "colors": (
        "border": create-color($default, $default, $default)
      )
    )
  );
}

@function set-colors-link($theme, $default: blue) {
  @return map.deep-merge(
    $theme,
    (
      "colors": (
        "link": create-color($default, $default, $default)
      )
    )
  );
}

@function set-shapes-border($theme, $width: 1.5px, $radius: 4px) {
  @return map.deep-merge(
    $theme,
    (
      "shapes": (
        "border": (
          "width": $width,
          "radius": $radius
        )
      )
    )
  );
}

@function set-font($theme, $family: $default-family) {
  @return map.deep-merge(
    $theme,
    (
      "font": (
        "family": $family
      )
    )
  );
}

@function default-light-theme() {
  $theme: map.deep-merge((), set-colors-primary(()));
  $theme: map.deep-merge($theme, set-colors-background(()));
  $theme: map.deep-merge($theme, set-colors-surface(()));
  $theme: map.deep-merge($theme, set-colors-border(()));
  $theme: map.deep-merge($theme, set-colors-link(()));
  $theme: map.deep-merge($theme, set-shapes-border(()));
  $theme: map.deep-merge($theme, set-font(()));

  @return $theme;
}

@function default-dark-theme() {
  $theme: map.deep-merge(
    (),
    set-colors-primary((), $default: #e0e0e0, $text: black)
  );

  $background: #212121;

  $theme: map.deep-merge(
    $theme,
    set-colors-background(
      (),
      $default: $background,
      $hover: color.adjust($background, $lightness: 10%),
      $text: white
    )
  );

  $theme: map.deep-merge($theme, set-colors-surface((), $default: #424242));
  $theme: map.deep-merge($theme, set-colors-border((), $default: #616161));
  $theme: map.deep-merge($theme, set-colors-link((), $default: #b3e5fc));
  $theme: map.deep-merge($theme, set-shapes-border(()));
  $theme: map.deep-merge($theme, set-font(()));

  @return $theme;
}
