// utils
@use "./functions" as *;

.container {
  padding: space(6);
}

.border-end {
  border-right: black solid 1px;
}

.ps-4 {
  padding-left: space(4);
}

.pt-4 {
  padding-top: space(4);
}

.pe-5 {
  padding-right: space(4);
}
