// utils
@use "./functions" as *;

@mixin styles($surface, $border-color, $border-width) {
  .container {
    // used for when containers are put inside flex boxes
    flex-grow: 1;
    padding-left: space(16);
    padding-right: space(16);

    @media only screen and (max-width: 760px) {
      padding-left: space(4);
      padding-right: space(4);
    }
  }

  .surface {
    background: $surface;
  }

  .ms-4 {
    margin-left: space(4);
  }

  .mt-4 {
    margin-top: space(4);
  }

  .ps-4 {
    padding-left: space(4);
  }

  .pt-4 {
    padding-top: space(4);
  }

  .pb-4 {
    padding-bottom: space(4);
  }

  .pe-5 {
    padding-right: space(4);
  }
}
