// utils
@use "./functions" as *;

@mixin styles($surface, $border-color, $border-width) {
  .container {
    // used for when containers are put inside flex boxes
    flex-grow: 1;
    padding: space(6);
  }

  .surface {
    background: $surface;
  }

  .border-end {
    border-right: $border-color solid $border-width;
  }

  .border-top {
    border-top: $border-color solid $border-width;
  }

  .ms-4 {
    margin-left: space(4);
  }

  .ps-4 {
    padding-left: space(4);
  }

  .pt-4 {
    padding-top: space(4);
  }

  .pe-5 {
    padding-right: space(4);
  }
}
