// variables

@use "sass:color";
@use "sass:map";
@use "./border";
@use "./functions";
@use "./utils";
@use "./root";
@use "./text-align";
@use "./components/navbar";
@use "./components/button";
@use "./components/list";
@use "./components/page";

@mixin styles($theme) {
  $primary: map.get($theme, "colors", "primary", "default");
  $primary-hover: map.get($theme, "colors", "primary", "hover");
  $primary-text: map.get($theme, "colors", "primary", "text");

  $background: map.get($theme, "colors", "background", "default");
  $background-text: map.get($theme, "colors", "background", "text");
  $background-hover: map.get($theme, "colors", "background", "hover");

  $surface: map.get($theme, "colors", "surface", "default");
  $border-color: map.get($theme, "colors", "border", "default");
  $link-color: map.get($theme, "colors", "link", "default");
  $border-width: map.get($theme, "shapes", "border", "width");
  $border-radius: map.get($theme, "shapes", "border", "radius");
  $font-family: map.get($theme, "font", "family");

  @include utils.styles(
    $surface: $surface,
    $border-color: $border-color,
    $border-width: $border-width
  );

  @include root.styles($theme: $theme);

  @include text-align.styles();
  @include border.styles(
    $border-color: $border-color,
    $border-width: $border-width
  );

  @include navbar.styles(
    $background-text: $background-text,
    $border-color: $border-color
  );

  @include button.styles(
    $primary: $primary,
    $primary-hover: $primary-hover,
    $primary-text: $primary-text,
    $border-radius: $border-radius
  );

  @include list.styles(
    $primary-hover: $primary-hover,
    $background: $background,
    $background-hover: $background-hover,
    $background-text: $background-text,
    $border-radius: $border-radius
  );

  @include page.styles(
    $primary: $primary,
    $primary-hover: $primary-hover,
    $primary-text: $primary-text,
    $border-color: $border-color,
    $border-radius: $border-radius,
    $border-width: $border-width
  );
}
