// variables

@use "./functions";
@use "./utils";
@use "./defaults/colors" as default-colors;
@use "./defaults/shapes" as default-shapes;
@use "./defaults/fonts" as default-fonts;

$primary: default-colors.$primary !default;
$primary-hover: default-colors.$primary-hover !default;
$primary-text: default-colors.$primary-text !default;

$background: default-colors.$background !default;
$background-hover: default-colors.$background-hover !default;

$border-color: default-colors.$border-color !default;

$font-family: default-fonts.$font-family !default;

$border-radius: default-shapes.$border-radius !default;

@use "./root" with ($font-family: $font-family);
@use "./components/navbar" with ($border-color: $border-color);

@use "./components/button" with (
  $primary: $primary,
  $primary-hover: $primary-hover,
  $primary-text: $primary-text,
  $border-radius: $border-radius
);

@use "./components/list" with (
  $background: $background,
  $background-hover: $background-hover,
  $border-radius: $border-radius
);

@use "./components/page";
