@use "../functions" as *;
@use "../defaults/colors" as default-colors;
@use "../defaults/shapes" as default-shapes;

$primary: defaults-colors.$primary !default;
$primary-hover: defaults-colors.$primary-hover !default;
$primary-text: defaults-colors.$primary-text !default;

$border-radius: defaults-shapes.$border-radius !default;

.button {
  background: $primary;
  border: $primary solid 1px;
  border-radius: $border-radius;
  color: $primary-text;
  text-decoration: none;
  padding: space(2);

  &:hover {
    background: $primary-hover;
    border: $primary-hover solid 1px;
  }
}
