@use "../functions" as *;

@mixin styles(
  $primary-hover,
  $background,
  $background-hover,
  $background-text,
  $border-radius
) {
  .list {
    list-style: none;
  }

  .list-item {
    background: $background;
    display: block;
    height: space(6);
    padding: space(2);

    border-radius: $border-radius;

    &:hover {
      background: $background-hover;
    }
  }

  .list-item-action {
    text-decoration: none;
    color: $background-text;
  }
}
