@use "../functions" as *;
@use "./button";

@mixin styles(
  $primary,
  $primary-hover,
  $primary-text,
  $border-color,
  $border-radius,
  $border-width,
  $commandbar-height: 50px
) {
  .commandbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: $commandbar-height;

    padding-left: 8px;
    padding-right: 8px;

    backdrop-filter: blur(4px);
  }

  .command {
    @include button.button(
      $primary: $primary,
      $primary-hover: $primary-hover,
      $primary-text: $primary-text,
      $border-radius: $border-radius
    );
  }

  .sidebar {
    position: sticky;
    top: $commandbar-height;
  }
}
